/* 日本語 */
.ja {
  font-family: "Noto Sans JP", sans-serif;
}
/* 確認用 */
.kakunin div {
  border-color: red;
  border: groove;
}
/* 高さ3.5remの固定ナビゲーションバーがあるため、コンテンツを下に移動  */
body {
  padding-top: 3.5rem;
}
/* 検証用 */
.test00 {
  text-align: center;
  top: calc(50% - 0.5rem);
  font-size: calc(33.33333vw - 10px);
  font-size: 10px;
  text-shadow: 1px 2px 3px #808080;
}
.test01 {
  font-size: 50%;
  text-align: center;
  top: calc(50% - 0.5rem);
}
